<div class="about"> 

<h2>Welcome to Influraters</h2>
<h3>REAL ratings for REAL users!</h3>
<p>Give people the power to rate influencers, and give others the ability to choose who will be the best to work with.</p>
</div>

<img src="/images/images-1.jpg"/>