<h2>Influencers Ive been working with </h2>

<form method="post" action="/users/add-new">

   <label> Name </label>
  <input name="name" value="" />
  <label> Comment </label>
  <textarea name="comment"> </textarea>
  <button type="submit"> Add new co-work </button>
</form>

<p>{{message}}</p>
