<div class="help"> 

<h2>How can we help? </h2>

<p>What's New? </p>
 
<li> COVID-19 Information Center </li>
<li>Check your account status </li>
<li> Discover Black-owned shops on Instagram </li>
<li>Tips for people struggling with an eating disorder </li>
<li>Checkout on Influraters
<li> Do More with Reels </li> 

</div>