<div class= "home" >
<h1> Welcome to InfluRaters</h1>
<h3> REAL ratings from REAL users </h3>
{{!-- <img src="/images/General@2x.png" />  --}}
</div>

   <div class="footer">
    
   <img src="/images/depositphotos_405550866-stock-illustration-google-play-store-apple-app.jpg">    
    <h3> Get the app </h3>
     <a href="/about"> About </a>
    <a href="/help"> Help </a> 
    <a href="/influencers/Contact Us"> Contact Us</a>
  </p>
</div>