<html>
<head>
  <style> 
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/fondo.jpg);

}


.start{
 margin-top: 0px;
 background-image: url(/images/Influraters2.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100vh;
 height: 100vh;
}


</style>
</header>
</head>
</html>

    <div class= "start" >
<h1> Welcome to InfluRaters</h1>
<h3> REAL ratings from REAL users </h3>
     </div>
<div class="img"> 
  
</div>
{{!-- <div class="text"> 
<h1> Welcome to InfluRaters</h1>
<h3> REAL ratings from REAL users </h3>
   </div> --}}
 