<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <header>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(19, 142, 243, 0.497);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(38, 62, 201);
}
</style>
</head>
<body>

 <ul> 
    <li>  <a href="/users/home"> Home </a>  </li> 
    <li>  <a href="/users/signup">Sign up</a>  </li> 
      <li> <a href="/users/login">Log in</a>  </li> 
        {{!-- <a href="/users/logout">Log out</a> --}} 
      </ul>
  
    </header>
    <div class="footer">
     <a href="/users/about"> About </a>
     <a href="/users/help"> Help </a> 
     <a href="/users/terms"> Terms </a>
    </div>
  
    {{{body}}}
  </body>
</html>
