<h2> Log In </h2>
{{!-- <img src="/images/download.png" alt="log">  --}}

<div class="login"> 
<form method="post" action="/users/login"> 
<label> Email </label>
<input name="email" value="oshinchiongh@gmail.com" />
<label> Username </label>
<input name="username" value="" />
<label> Password </label>
<input name="password" value="password" />

<button type="submit"> Login </button>
</div>
</form>

<p class="in"> Don't have an account?  <a href="/users/signup">Sign up</a> </p>


<p> {{message}} </p>