 <h1> Welcome to InfluRaters</h1>

 <img src="/images/Influraters2.jpg"/> 

<html>
<head>
<style>

  body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  {{!-- background-image: url(/images/perfil2.jpg); --}}
 background-size: cover;
 background-position: right;
 
}

.profile{
  width: 20%;
 list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  display: block;
  color: rgb(21, 234, 191);
  padding: 8px 16px;
  text-decoration: none;
  float: right;
  background-image:url(images/otrofondo.jpg);
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.btn{
  background-color: dodgerblue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}
img{
  height: 10vh;
}

h1{
  text-align: center;
}

</style>
</head>
<body>
<p>{{foundUser.username}}'s posts </p>

<h3>This is {{foundUser.username}}'s profile</h3>


{{#each allPosts}}
  <h5>{{this.title}}</h5>
  <p>{{this.content}}</p>
{{/each}}


<div class="profile"> 
<ul>
  <li><a href="/influencers/influencers"> See all influencers</a></li>
  <li><a href="/users/logout"> Log out </a></li>
</ul>
</div>

<form method="post" action="/users/new-post" enctype="multipart/form-data">
  <div class="profile2"> 
  <input class="field" type="text"  placeholder="Title of Post" name="title" />
  <input class="field" type="text"  placeholder="Content" name="content" />
  <input type="file" name="imageUrl" />
  <button type="submit"  class="btn"> Create Post </button>
  </div>
 
</form>
</body>
</html>
 


