<h1> Influraters </h1>
<h2> Sign up </h2>

<form method="post" action="/users/signup">
<div class="signup"> 
 <label> Email </label>
 <input name="email" value="oshinchiongh@gmail.com" />
 <label> Username </label>
 <input name="username" value="" />
 <label> Password </label>
 <input name="password" value="password" />

<button type="submit"> Create new account </button>
</div>

</form>

<p> Have an account? </p>
 <a href="/users/login"> Log In </a>

<p> {{message}} </p>