<head> 
   <h1> Influraters </h1>
   <h3> sign up </h3>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/fondo.jpg);

}
.input-container {
  
  display: -ms-flexbox; 
  display: flex;
  width: 80%;
  margin-bottom: 25px;
}

.signup{
  margin-top: 2%;
}

h1, h3{
  text-align: center;
}


.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
}
.signin {
 
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

</style>
</head>
<body>

<div class="signup"> 
<form method="post" action="/users/signup" style="max-width:500px;margin:auto"> 
<div class="input-container">
    <i class="fa fa-envelope icon"></i>
{{!-- <label> Email </label> --}}
<input class="input-field"  type="text" placeholder="Email" name="email" value="oshinchiongh@gmail.com" />
 </div>

 <div class="input-container">
   <i class="fa fa-user icon"></i>
{{!-- <label> Username </label> --}}
<input class="input-field" type="text" placeholder="Username" name="username" value="" />
</div>

<div class="input-container">
    <i class="fa fa-key icon"></i>
{{!-- <label> Password </label> --}}
<input class="input-field" type="password" placeholder="Password" name="password" value="password" />
</div>
 
<button type="submit" class="btn"> Create new account </button>
</div>
  <div class="container signin">
    <p> Have an account? <a href="/users/login"> Log In </a> .</p>
    </div>
</form>


{{!-- <form method="post" action="/users/signup">
<div class="signup"> 
 <label> Email </label>
 <input name="email" value="oshinchiongh@gmail.com" />
 <label> Username </label>
 <input name="username" value="" />
 <label> Password </label>
 <input name="password" value="password" />

<button type="submit"> Create new account </button>
</div>

</form>

<p> Have an account?  <a href="/users/login"> Log In </a>  </p>
<h2> Sign up </h2> --}}

<p> {{message}} </p>