body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
.home {
  margin-top: 8%;
  background-image: url("/images/General@2x.png" );
  background-size:50%;
  background-repeat: repeat-x;
  height: 80vh; 
 text-align: left;
 
}

a {
  color: #00B7FF;
  
}

.navbar{
  display: inline;
  text-align:right;
  font-size: 150%;
  margin-right: 15%;
  margin-bottom: 20px;
  color: #00B7FF;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  
  padding: 0.5rem 1rem;
  -webkit-box-align: center;
}
 


.signup {
  background-size:50%;
  background-repeat:no-repeat;
  position: absolute;
  top: 40%;
  left: 50%;
  line-height:2.5em;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  padding: 120px;
  margin-top: 60px;
  background:rgba(47, 224, 255, 0.131);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: large;
}
 
 h2{
   text-align: center;
 }
 

 /* .login  {
   text-align: center;
  background-size:50%;
  background-repeat:no-repeat;
  position: absolute;
  top: 40%;
  left: 50%;
  line-height:2.0em;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  padding: 120px;
  margin-top: 60px;
  background:rgba(47, 224, 255, 0.131);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 
 } */

button{
 
  background-color: #00B7FF;
}

.segundo{
background-image: url("/images/download.png"); 
height: 20vh;
background-repeat:repeat-x;
background-position:right;
font-size: medium;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 40px;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  /* background-image: url("/images/depositphotos_405550866-stock-illustration-google-play-store-apple-app.jpg");   */
}

